header{
	background-color: silver;
	width: 100%;
	height: 100px;
	float: left;
    font-size: 20px;
    text-align:left;
}
nav{
    background-color:white;
	width: 100%;
	height: 100px;
	float: left;
    font-size: 20px;
    text-align:left;



}
aside{
	width: 30%;
	height: 600px;
	float: right;
}
body{
            background-color:white;
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0;
           
            
                  
       }

       h1{ font-family:"'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif";
           text-align: center;
           font-size: 30px;
           

       }

       p{  font-family: "Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif";
           text-align: center;
           font-size: 25px;

       }

       section{
           
           height:100%;
           width:70%;
          float:left;
           
        


       }
       .auth-form{   
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding: 20px;
    background-color: rosybrown;
}

.dropbtn {
    background-color: rosybrown;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: silver;
}
input[type=text] {
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 4s ease-in-out;
    transition: width 4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}
* {box-sizing:border-box;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin:auto;
  max-width: 100%
  
}
.slideshow-container img {
   width: 90%;
   height: 600px; 
   
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.slideshow-container image {
   width: 100%;
   height: 100px; /* experiment till you're satisfied */
   
}
       